<ion-view title="Proposition">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="list">
            <div class="item item-text-wrap">
                Name: <h1>{{vm.proposition.name}}</h1>
            </div>
            <div class="item item-text-wrap">
                Description: <h2>{{vm.proposition.description}}</h2>
            </div>
            <div class="item item-text-wrap">
                Keywords: <h3>{{vm.proposition.keywords}}</h3>
            </div>
            <div class="item item-divider">
                Options
            </div>
            <div class="card item item-input item-stacked-label" ng-repeat="option in vm.proposition.options">
                <div class="row responsive-sm">
                    <div class="col">
                        <div class="item range range-positive">
                            -100 %
                            <input type="range" name="{{option.name}}" min="0" max="100" ng-model="option.value">
                            +100 %
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            Name: {{option.name}}
                        </div>
                        <div class="row" ng-if="option.description">
                            Description: {{option.description}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding">
            <button class="button button-positive" ng-click="vm.vote()">Vote</button>
        </div>
        <div class="padding">
            <button class="button button-positive" ng-click="vm.showResults = !vm.showResults">Toggle results</button>
            <span class="padding" ng-show="vm.showResults" style="vertical-align: middle;top: 15px;position: relative;">
                <ng-pluralize count="vm.totalUsersVoted.count"
                              when="{'0': 'No one voted.',
                     'one': 'One person voted.',
                     'other': '{} persons voted.'}">
                </ng-pluralize>
            </span>
        </div>
        <div class="card item item-input item-stacked-label" ng-repeat="(option, result) in (vm.results | averagePerOption)" ng-show="vm.showResults">
            <div class="row responsive-sm">
                <div class="col">
                    <div class="item range range-positive">
                        <div style="background: #387ef5; width: {{result}}%; height: 25px;"></div>
                        &nbsp;{{ (-100 + result * 2) }} %
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        Name: {{option}}
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
